<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Temperatures</mat-card-title>
      <mat-card-subtitle>Temperatures</mat-card-subtitle>
    </mat-card-header>
    <img [src] = "image" alt = "weather icon">
    <mat-card-content>
      <!-- <p>
        current temperature in {{city}} is {{temperature | number:'1.0-0'}}º 
      </p> -->

            <!--  DEGREES IS NOW ROUNDED UP  -->
      
      <p>
          <span *ngIf="!hasError">current temperature in {{city}} is {{temperature | number: '1.0-0'}}º</span>
          <span *ngIf="hasError">{{errorMessage}} please try another search</span>
        </p>
      <a routerLink="/tempform" routerLinkActive="active">Update temperature</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click) = "addLikes()" >LIKE</button><span *ngIf = "likes!=0">{{likes}}</span> <!--  SHOW OR NOT SHOW THE LIKES COUNTER   -->
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>