<mat-accordion >
    <p *ngIf= "!(postsData$ | async)"  >Loading...</p>    
      <mat-expansion-panel *ngFor = "let post of postsData$ | async" >
    <mat-expansion-panel-header>
      <mat-panel-title >
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header> 
    by {{post.body}}   
  </mat-expansion-panel>
</mat-accordion>

